.header {
    background-color: #08619c;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__titulo {
    font-size: 1.5rem;
  }
  
  .header__menu {
    display: flex;
    gap: 20px;
  }
  
  .header__enlace {
    color: #fff;
    text-decoration: none;
  }