.barra-busqueda {
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
  }
  
 .barra-busqueda__input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
  }
  
 .barra-busqueda__button {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
  }